.about {
  width: 100%;
  height: 54vh;
  text-align: center;
  padding: $gutter 0;

  .left {
    position: relative;
    float: left;
    width: 50%;
    height: 54vh;
    text-align: center;
    box-shadow: 2px 0 0 $grey;

    .intro {
      transition: transform 650ms ease-in-out;

      img {
        visibility: hidden;
        max-width: 95%;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
        box-shadow: 2px 1px 5px 1px rgba(0,0,0,1);
      }

      .hello {
        color: $blue;
        font-size: 8vh;
        font-family: 'Yellowtail';
      }

      .name {
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        font-weight: 300;
        display: inline-block;
        font-size: 8vh;
      }
    }

  }

  .right {
    display: table;
    float: right;
    width: 50%;
    height: 54vh;
    text-align: center;

    section {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      line-height: 1.5;
      position: relative;
      text-align: center;

      div {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        bottom: $gutter;

        p {
          line-height: 1;
          font-size: 3vh;
        }
      }

      p {
        padding: 0 $gutter;
      }
    }
  }


}

@media only screen and (min-width: 640px) {
  .intro {
  }
}
