.about {
  width: 100%;
  height: 54vh;
  text-align: center;
  padding: $gutter 0;

  .left {
    position: relative;
    width: 50%;
    height: 54vh;
    text-align: center;

    .intro {
      display: inline-block;
      transition: transform 650ms ease-in-out;
      padding: 20vh 0;

      .hello {
        font-size: 8vh;
        font-family: 'Yellowtail';
      }

      .name {
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        font-weight: 300;
        display: inline-block;
        font-size: 8vh;
      }
    }

  }

  .bio {
    width: 50%;
    height: 54vh;
  }


}
