header {
  position: relative;
  height: 15vh;
  width: 80%;
  margin: 0 auto;

  div {
    position: relative;
    display: inline;
  }

  h1 {
    color: $blue;
    margin: 0;
    font-size: 8vh;
    text-shadow:
      1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
