header {
  text-align: center;
  width: 100%;

  div {
    position: relative;
    display: inline;
  }

  img {
    max-width: 100%;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
  }

  h1 {
    color: $blue;
    margin: 0;
    font-size: 8vh;
    text-shadow:
      1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

@media only screen and (min-width: 640px) {
  header {
    img {
      height: 75vh;
      border: 2px solid $black;
    }

    h1 {
      font-size: 12vh;
    }
  }
}
