nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;

  ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      flex-direction: row;
      justify-content: space-around;
      flex-grow: 1;
      padding: 0;
      text-align: center;
    }
  }
}

.main-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  outline: 1px solid black;
  background-color: $orange;
}

.social {
  position: absolute;
  top: 10vh;
  right: 10vw;
  width: 20vw;
  height: 5vh;
  margin-top: $gutter;

  li {
    background-color: $black;
  }
}

@media only screen and (min-width: 640px) {
  nav {
    li {
      font-size: 5vmin;
    }
  }
}
