nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background-color: $dark-green;

  ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      flex-direction: row;
      justify-content: space-around;
      flex-grow: 1;
      padding: $gutter 0;
      text-align: center;
    }
  }
}

.main-nav {
  margin-bottom: $gutter;
}

.social {
  margin-top: $gutter;
}

@media only screen and (min-width: 640px) {
  nav {
    li {
      font-size: 5vmin;
    }
  }
}
