@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?8ixlaj");
  src: url("fonts/icomoon.eot?8ixlaj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?8ixlaj") format("truetype"), url("fonts/icomoon.woff?8ixlaj") format("woff"), url("fonts/icomoon.svg?8ixlaj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right2:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e900"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-github:before {
  content: "\e901"; }

.icon-linkedin2:before {
  content: "\e903"; }

body {
  width: 100%;
  position: relative;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #ffffff; }

.clearfix {
  clear: both; }

.bold {
  font-weight: 700; }

footer {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  margin-top: 2vh;
  font-family: 'Open Sans Condensed'; }

header {
  position: relative;
  height: 15vh;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2vh; }

main {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  border: 1px solid black; }

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase; }
  nav li {
    display: inline-block; }

.main-nav {
  height: 12vh;
  width: 100%;
  outline: 1px solid black;
  background-color: #ED9C2A;
  text-align: center; }
  .main-nav ul {
    margin-bottom: -2px;
    display: inline-block;
    width: 100%;
    bottom: 0; }
    .main-nav ul li {
      float: right;
      position: relative;
      text-align: center;
      width: 25%; }
      .main-nav ul li div {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-bottom: 3vh; }
        .main-nav ul li div a {
          display: inline-block; }

.social {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 15vh;
  font-size: 5vh; }
  .social ul {
    bottom: 2vh;
    width: 100%;
    position: absolute; }
    .social ul li {
      padding: 5px;
      background-color: #000000; }
      .social ul li a {
        transition: 350ms all; }

@media only screen and (min-width: 640px) {
  .main-nav ul li {
    position: relative;
    font-size: 5vh;
    padding: 6vh 0; }

  .social ul {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0; }
    .social ul li {
      font-size: 4vh;
      margin-left: -1px; } }
.about {
  width: 100%;
  height: 58vh;
  text-align: center; }
  .about .left {
    position: relative;
    height: 54vh;
    text-align: center;
    width: 100%;
    padding: 2vh 0; }
    .about .left .intro {
      height: 54vh;
      transition: transform 650ms ease-in-out; }
      .about .left .intro img {
        visibility: hidden;
        max-width: 55%; }
      .about .left .intro .hello {
        color: #C84630;
        font-size: 8vh;
        font-family: 'Yellowtail'; }
      .about .left .intro .name {
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        font-weight: 300;
        display: inline-block;
        font-size: 8vh; }
  .about .right {
    display: none; }

@media only screen and (min-width: 640px) {
  .about .left {
    float: left;
    width: 50%;
    box-shadow: 2px 0 0 #E5E5E5; }
  .about .right {
    display: block;
    display: table;
    float: right;
    width: 50%;
    height: 54vh;
    padding: 2vh 0;
    text-align: center; }
    .about .right section {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      line-height: 1.5;
      position: relative;
      text-align: center; }
      .about .right section div {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        bottom: 2vh; }
        .about .right section div p {
          line-height: 1;
          font-size: 3vh; }
      .about .right section p {
        padding: 0 2vh; } }
.main-nav a:hover {
  bottom: 1vh; }

.social a:hover {
  color: #ED9C2A; }

.main-nav div:hover {
  margin-top: -7px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #ED9C2A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 1px black;
  -moz-box-shadow: 0px 0px 0px 1px black;
  box-shadow: 0px 0px 0px 1px black;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.about .left .intro:hover {
  transform: translateY(11vh); }
  .about .left .intro:hover img {
    transition: visibility 350ms ease-out 650ms;
    visibility: visible; }

/*# sourceMappingURL=style.css.map */
